/* You can add global styles to this file, and also import other style files */



/* @import '@primeng/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.min.css'; */
/* @import 'primeicons/primeicons.css'; */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
    font-family: 'bootstrap-icons';
    src: url('/assets/fonts/bootstrap-icons.woff2') format('woff2'),
         url('/assets/fonts/bootstrap-icons.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }